.singleQuestionContainer {
    border: 1px solid black;
    padding: 0 20px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.singleQuestionTitle {
    border-bottom: 1px solid black;
    grid-column: 1 / span 2;
}

.singleQuestionTitle span {
    font-weight: bold;
}

.answer {
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.2s linear;
    min-height: 40px;
    line-height: 40px;
}

.answer:hover {
    background-color: var(--papaya-whip);
}